.menu {
    padding: 10px;
    margin: 10pxx;
    background-color: #1a3d38;
  text
  }
  
  .footer {
    padding: 10px;
    margin: 10px;
    background-color: #1a3d38;
  }
  
  .main {
    padding: 100px;
    margin: 10px;
    background-color: white;
   text-align: center;
  }
  
  nav li {
    display: inline-block;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}